<div class="footer">

{% if site.social-links-enabled == true %}
  <p class="footer-icons">
    {% for social in site.data.social-links %}
      {% if social.type == "email"  %}
      <a class="icons nolinkborder" title="{{ social.hover-text }}" href="mailto:{{ social.link }}"><i class="fa {{ social.icon }}"></i></a>
      {% else  %}
      <a class="icons nolinkborder" title="{{ social.hover-text }}" href="{{ social.link }}"><i class="fa {{ social.icon }}"></i></a>
      {% endif  %}
    {% endfor %}
  </p>
{% endif %}
  <p class="copyright">
    &#169;2017<!--{{ site.time | date: '%Y' }}--> <a class="prim-sec nolinkborder" title="Go to {{site.title}}" href="{{site.url}}">{{site.title}}</a>
  </p>

  <p class="copyright">
    All rights reserved.
  </p>

  <!--p class="copyright"><a class="prim-sec nolinkborder" href="{{ "/feed.xml" | relative_url }}">subscribe via RSS</a></p-->

</div>
