{% if site.news-enabled == true %}
  {% assign selected = site.data.navigation-news %}
{% else %}
  {% assign selected = site.data.navigation %}
{% endif %}
<div role="navigation" class="sidebar">

  <nav class="navbar navbar-toggleable-sm">

    <div class="navbar-toggler navbar-toggler-right" type="text" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span>MENU</span>
    </div>
{% comment %}
  {% navbar uses EITHER logo image or logo-headline %}
{% endcomment %}
{% if site.logo-image-enabled == true %}
    <div class="navbar-brand">

      <!-- logo image for desktop -->
      <p class="hidden-sm-down image-block"><a class="nolinkborder" title="Go to home page" href="/"><img class="img-fluid logo-image" src="{{site.baseurl}}/assets/images/header_image_square.png"></a></p>

      <!-- logo image for mobile -->
      <p class="hidden-md-up image-block"><a class="nolinkborder" title="Go to home page" href="/"><img class="img-fluid logo-image" src="{{site.baseurl}}/assets/images/header_image_square_small.png"></a></p>

    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
{% else %}
    <div class="navbar-brand-no-logo">
      <p class="logo-headline">{{site.logo-headline}}</p>
    </div>
    <div class="collapse navbar-collapse collapse-no-logo" id="navbarSupportedContent">
{% endif %}

      <ul class="navbar-nav mr-auto">
{% for nav in selected %}
        <li class="nav-item {% if page.navmenu == nav.link %}active{% endif %}"><a class="nav-link nolinkborder" title="{{nav.hover-text}}" href="{{nav.link}}">{{nav.name}}</a></li>
{% endfor %}

{% if site.submit-enabled == true %}
        <li class="nav-item-button"><button class="btn btn-primary btn-sm waves-effect waves-light" title="Submit an Event" target="_blank" href="">Submit an Event <i class="fa fa-external-link" aria-hidden="true"></i></button></li>
{% endif %}

        <li class="hidden-sm-down nav-item nav-item-footer">{% include footer.html %}</li>

      </ul>

    </div>

  </nav>

</div>
