<div class="pager-block">

{% comment %}
Pager does not include links to the News index page.
{% endcomment %}

{% if page.previous.type != "index" %}

  {% if page.previous %}

    <p class="float-left">
      <a class="sec-prim nolinkborder" title="See previous article" href="{{ page.previous.url }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> previous article</a>
    </p>

  {% endif %}

{% endif %}

{% if page.next.type != "index" %}

  {% if page.next %}

    <p class="float-right">
      <a class="sec-prim nolinkborder" title="See next article" href="{{ page.next.url }}">next article <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </p>

  {% endif %}

{% endif %}

</div>
