@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

$font-family-primary: "Source Sans Pro", Tahoma, "Helvetica Neue", Arial, sans-serif !default;

$font-family-secondary: "Roboto Slab", Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif !default;

$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base: $font-family-primary !default;
