// TEST IT
// ==========================================
// Theme Colors are defined here.
// ==========================================

p {
  color: red !important;
}
/* Main customizable colors */
$gray-dark: #333;
$gray-med-muted: #5C5C5C;
$gray-med: #9E9E9E;
$gray-pale: #F8F9FA;

$color-primary: #0F539E;
$color-secondary: #ED233B; //FF533D;

/*
  The following settings map the colors above to specific areas of the site.
*/

// ====================================
//  Basics
// ====================================
$body-text: $gray-dark !default;
$body-text-muted: $gray-med-muted !default;
$page-background: #FFF !default;
$page-title: $color-primary !default;
$meta-text: $gray-med !default;
$image-border: $color-primary !default;


// ====================================
//  Used for body copy
// ====================================
$link: $color-secondary !default;
$link-hover: $color-secondary !default;
$link-border: $color-secondary !default;


// ====================================
// Used for subscribe link
//  Link state is opaque; hover is solid.
// ====================================
$prim-sec-link: $color-primary !default;
$prim-sec-link-hover: $color-secondary !default;


// ====================================
//  Used for prev/next links.
//  Reverse of above.
//  Link state is opaque; hover is solid.
// ====================================
$sec-prim-link: $color-secondary !default;
$sec-prim-link-hover: $color-primary !default;


// ====================================
//  Used for social icons in navigation.
//  Link state is opaque; hover is solid.
// ====================================
$icon-link: $color-primary !default;
$icon-link-hover: $color-primary !default;


// ====================================
//  Navigation - General
// ====================================
$nav-background: $color-primary !default;
$nav-headline: #FFF !default;
$nav-border: $color-secondary;
$nav-panel-background: $gray-pale !default;
$nav-link: $color-secondary !default;
$nav-link-active: $color-primary !default;
$nav-link-hover: $color-primary !default;


// ====================================
//  Navigation - Mobile-specific
// ====================================
$menu-text: $color-primary !default;
$menu-background: #FFF !default;
$menu-text-hover: #FFF !default;
$menu-background-hover: $color-secondary !default;
$nav-link-border: $color-primary !default;


// ====================================
//  Buttons
// ====================================
$btn-primary-text: #FFF !default;
$btn-primary-background: $color-secondary !default;
$btn-primary-text-hover: #FFF !default;
$btn-primary-background-hover: $color-primary !default;

$btn-outline-text: $color-primary !default;
$btn-outline-border: $color-primary !default;
$btn-outline-background: #FFF !default;

$btn-outline-text-hover: #FFF !default;
$btn-outline-border-hover: $color-primary !default;
$btn-outline-background-hover: $color-primary !default;


// ====================================
//  Tables
// ====================================
$table-accent: $color-secondary !default;
$table-error-background: $gray-med !default;
$table-disabled-text: $gray-med !default;
$table-disabled-background: $gray-med !default;
